In [25]:
import pandas as pd
from sqlalchemy import create_engine

In [26]:
# deaths_by_state = pd.DataFrame
state_reader = pd.read_csv('Underlying Cause of Death, 2008-2017.txt', delimiter='\t')
state_reader.head(50)
state_reader['avg pop'] = state_reader['Population']/9
state_reader

,Notes,ICD-10 113 Cause List,ICD-10 113 Cause List Code,State,State Code,Deaths,Population,Crude Rate,avg pop
0,NaN,"Nontransport accidents (W00-X59,Y86)",GR113-117,Alabama,1.0,41,48160768.0,0.1,5.351196e+06
1,NaN,"Nontransport accidents (W00-X59,Y86)",GR113-117,Alaska,2.0,10,7242733.0,Unreliable,8.047481e+05
2,NaN,"Nontransport accidents (W00-X59,Y86)",GR113-117,Arizona,4.0,60,66184807.0,0.1,7.353867e+06
3,NaN,"Nontransport accidents (W00-X59,Y86)",GR113-117,Arkansas,5.0,49,29470898.0,0.2,3.274544e+06
4,NaN,"Nontransport accidents (W00-X59,Y86)",GR113-117,California,6.0,157,381619373.0,0.0,4.240215e+07
...,...,...,...,...,...,...,...,...,...
125,"compared to previous practice. In addition, da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,in information available to individual states ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,information can be found at: https://www.cdc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,10. Changes to cause of death classification a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,http://wonder.cdc.gov/wonder/help/ucd.html#ICD...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [27]:
total_by_state = state_reader[['State', 'Deaths']]
total_by_state = total_by_state.head(51)
total_by_state = total_by_state.drop([8])
# total_by_state = total_by_state[total_by_state['Deaths'] != 'Suppressed']
total_by_state = total_by_state.replace({'Suppressed': '0'})
total_by_state['Deaths'] = total_by_state['Deaths'].astype(str).astype(int)
total_by_state = total_by_state.sort_values('Deaths', ascending=False).reset_index(drop=True)
total_by_state.index = total_by_state.index + 1
total_by_state.index.name = 'rank'
total_by_state = total_by_state.rename(columns={'State': 'state','Deaths': 'deaths'})
total_by_state

               state  deaths
rank
1              Texas     253
2         California     157
3            Florida     125
4     North Carolina      90
5          Tennessee      81
6            Georgia      75
7           Michigan      72
8               Ohio      71
9       Pennsylvania      67
10          Oklahoma      65
11           Arizona      60
12          New York      58
13          Illinois      52
14          Arkansas      49
15          Virginia      47
16          Missouri      47
17         Wisconsin      45
18        Washington      43
19           Alabama      41
20         Louisiana      39
21    South Carolina      39
22          Kentucky      33
23       Mississippi      32
24     West Virginia      32
25           Indiana      31
26         Minnesota      31
27        New Mexico      27
28            Oregon      27
29          Maryland      24
30           Montana      23
31          Colorado      22
32              Iowa      20
33     Massachusetts      20
34             Idaho      18
35        New Jersey      16
36          Nebraska      14
37            Nevada      13
38            Kansas      13
39       Connecticut      11
40              Utah      11
41           Wyoming      11
42            Hawaii      10
43            Alaska      10
44     New Hampshire       0
45      Rhode Island       0
46             Maine       0
47           Vermont       0
48          Delaware       0
49      North Dakota       0
50      South Dakota       0

In [ ]:
connection_string = "postgres:root@localhost:5432/animal_attacks_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
engine.table_names()

In [ ]:
total_by_state.to_sql(name='deaths_by_state', con=engine, if_exists='append', index=True)

Citation: Centers for Disease Control and Prevention, National Center for Health Statistics. Underlying Cause of Death"
"1999-2019 on CDC WONDER Online Database, released in 2020. Data are from the Multiple Cause of Death Files, 1999-2019, as"
"compiled from data provided by the 57 vital statistics jurisdictions through the Vital Statistics Cooperative Program. Accessed"
"at http://wonder.cdc.gov/ucd-icd10.html on Sep 18, 2021 2:21:47 PM"