In [7]:
import pandas as pd
from sqlalchemy import create_engine

In [8]:
# deaths_by_state = pd.DataFrame
state_reader = pd.read_csv('Underlying Cause of Death, 1999-2019.txt', delimiter='\t')
state_reader.head(50)
state_reader['avg pop'] = state_reader['Population']/20
state_reader

,Notes,State,State Code,Deaths,Population,Crude Rate,avg pop
0,NaN,Alabama,1.0,85,98682634.0,0.1,4934131.70
1,NaN,Alaska,2.0,23,14569726.0,0.2,728486.30
2,NaN,Arizona,4.0,115,130658024.0,0.1,6532901.20
3,NaN,Arkansas,5.0,86,60151295.0,0.1,3007564.75
4,NaN,California,6.0,299,776337985.0,0.0,38816899.25
...,...,...,...,...,...,...,...
112,"previously published reports, due to use of th...",NaN,NaN,NaN,NaN,NaN,NaN
113,8. The population figures used in the calculat...,NaN,NaN,NaN,NaN,NaN,NaN
114,resident population that is under one year of ...,NaN,NaN,NaN,NaN,NaN,NaN
115,9. Changes to cause of death classification af...,NaN,NaN,NaN,NaN,NaN,NaN
116,http://wonder.cdc.gov/wonder/help/ucd.html#ICD...,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
total_by_state = state_reader[['State', 'Deaths']]
total_by_state = total_by_state.head(51)
total_by_state = total_by_state.drop([8])
# total_by_state = total_by_state[total_by_state['Deaths'] != 'Suppressed']
total_by_state = total_by_state.replace({'Suppressed': '0'})
total_by_state['Deaths'] = total_by_state['Deaths'].astype(str).astype(int)
total_by_state = total_by_state.sort_values('Deaths', ascending=False).reset_index(drop=True)
total_by_state.index = total_by_state.index + 1
total_by_state.index.name = 'rank'
total_by_state = total_by_state.rename(columns={'State': 'state','Deaths': 'deaths'})
total_by_state

               state  deaths
rank
1              Texas     520
2         California     299
3            Florida     247
4     North Carolina     180
5          Tennessee     170
6               Ohio     161
7            Georgia     161
8       Pennsylvania     148
9           Michigan     138
10          New York     124
11          Illinois     123
12          Missouri     119
13         Wisconsin     116
14           Arizona     115
15          Oklahoma     114
16          Virginia      99
17          Arkansas      86
18           Alabama      85
19        Washington      84
20          Kentucky      84
21    South Carolina      81
22       Mississippi      80
23         Louisiana      79
24           Indiana      78
25         Minnesota      69
26     West Virginia      60
27        New Mexico      56
28          Colorado      55
29              Iowa      51
30          Maryland      47
31             Idaho      47
32            Oregon      47
33           Montana      41
34            Kansas      41
35        New Jersey      39
36     Massachusetts      36
37              Utah      30
38          Nebraska      29
39            Nevada      26
40       Connecticut      25
41            Alaska      23
42      South Dakota      22
43             Maine      20
44            Hawaii      18
45           Wyoming      17
46           Vermont      17
47     New Hampshire      10
48      Rhode Island       0
49          Delaware       0
50      North Dakota       0

In [10]:
connection_string = "postgres:root@localhost:5432/animal_attacks_db"
engine = create_engine(f'postgresql://{connection_string}')

In [11]:
engine.table_names()

['deaths_by_state']

In [15]:
total_by_state.to_sql(name='deaths_by_state', con=engine, if_exists='append', index=True)

Citation: Centers for Disease Control and Prevention, National Center for Health Statistics. Underlying Cause of Death"
"1999-2019 on CDC WONDER Online Database, released in 2020. Data are from the Multiple Cause of Death Files, 1999-2019, as"
"compiled from data provided by the 57 vital statistics jurisdictions through the Vital Statistics Cooperative Program. Accessed"
"at http://wonder.cdc.gov/ucd-icd10.html on Sep 18, 2021 2:21:47 PM"