In [28]:
import pandas as pd
from sqlalchemy import create_engine

In [29]:
# deaths_by_state = pd.DataFrame
state_reader = pd.read_csv('Underlying Cause of Death, 2007-2018.txt', delimiter='\t')
state_reader.head(50)
state_reader['avg pop'] = state_reader['Population']/11
state_reader

,Notes,ICD-10 113 Cause List,ICD-10 113 Cause List Code,State,State Code,Deaths,Population,Crude Rate,avg pop
0,NaN,"#Accidents (unintentional injuries) (V01-X59,Y...",GR113-112,Alabama,1.0,50,57721479.0,0.1,6.413498e+06
1,NaN,"#Accidents (unintentional injuries) (V01-X59,Y...",GR113-112,Alaska,2.0,12,8660471.0,Unreliable,9.622746e+05
2,NaN,"#Accidents (unintentional injuries) (V01-X59,Y...",GR113-112,Arizona,4.0,70,79524134.0,0.1,8.836015e+06
3,NaN,"#Accidents (unintentional injuries) (V01-X59,Y...",GR113-112,Arkansas,5.0,58,35333373.0,0.2,3.925930e+06
4,NaN,"#Accidents (unintentional injuries) (V01-X59,Y...",GR113-112,California,6.0,176,457426729.0,0.0,5.082519e+07
...,...,...,...,...,...,...,...,...,...
126,"compared to previous practice. In addition, da...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,in information available to individual states ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,information can be found at: https://www.cdc.g...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,10. Changes to cause of death classification a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,http://wonder.cdc.gov/wonder/help/ucd.html#ICD...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
total_by_state = state_reader[['State', 'Deaths']]
total_by_state = total_by_state.head(51)
total_by_state = total_by_state.drop([8])
# total_by_state = total_by_state[total_by_state['Deaths'] != 'Suppressed']
total_by_state = total_by_state.replace({'Suppressed': '0'})
total_by_state['Deaths'] = total_by_state['Deaths'].astype(str).astype(int)
total_by_state = total_by_state.sort_values('Deaths', ascending=False).reset_index(drop=True)
total_by_state.index = total_by_state.index + 1
total_by_state.index.name = 'rank'
total_by_state = total_by_state.rename(columns={'State': 'state','Deaths': 'deaths'})
total_by_state

               state  deaths
rank
1              Texas     305
2         California     176
3            Florida     147
4     North Carolina     109
5          Tennessee      98
6            Georgia      91
7               Ohio      85
8           Michigan      84
9       Pennsylvania      79
10          Oklahoma      74
11          New York      74
12           Arizona      70
13          Illinois      67
14          Missouri      59
15          Arkansas      58
16         Wisconsin      58
17          Virginia      56
18    South Carolina      50
19           Alabama      50
20        Washington      48
21         Louisiana      46
22       Mississippi      41
23         Minnesota      40
24           Indiana      40
25          Kentucky      39
26     West Virginia      36
27        New Mexico      32
28          Maryland      30
29            Oregon      30
30          Colorado      26
31           Montana      25
32     Massachusetts      24
33              Iowa      24
34             Idaho      23
35        New Jersey      18
36            Nevada      18
37          Nebraska      18
38              Utah      18
39            Kansas      17
40       Connecticut      16
41           Wyoming      12
42            Alaska      12
43           Vermont      10
44            Hawaii      10
45     New Hampshire       0
46             Maine       0
47      Rhode Island       0
48          Delaware       0
49      North Dakota       0
50      South Dakota       0

In [ ]:
connection_string = "postgres:root@localhost:5432/animal_attacks_db"
engine = create_engine(f'postgresql://{connection_string}')

In [ ]:
engine.table_names()

In [ ]:
total_by_state.to_sql(name='deaths_by_state', con=engine, if_exists='append', index=True)

Citation: Centers for Disease Control and Prevention, National Center for Health Statistics. Underlying Cause of Death"
"1999-2019 on CDC WONDER Online Database, released in 2020. Data are from the Multiple Cause of Death Files, 1999-2019, as"
"compiled from data provided by the 57 vital statistics jurisdictions through the Vital Statistics Cooperative Program. Accessed"
"at http://wonder.cdc.gov/ucd-icd10.html on Sep 18, 2021 2:21:47 PM"